# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
web-build/

# Android
android/

# IOS
ios/

# Node
node_modules/
.node_modules/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
.DS_Store
Thumbs.db

# Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
out/
build/
dist/

# Testing
coverage/
.nyc_output/

# Misc
.cache/
.turbo/
